apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: fleetman-api-gateway
  name: fleetman-api-gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: fleetman-api-gateway
  template:
    metadata:
      labels:
        app: fleetman-api-gateway
    spec:
      containers:
        - env:
            - name: SPRING_PROFILES_ACTIVE
              value: local-microservice
          image: supinfo4kube/api-gateway:1.0.1
          name: fleetman-api-gateway
          ports:
            - containerPort: 8080
              protocol: TCP
      restartPolicy: Always
